<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="博客" href="/blog">blog</a></span>
    <span><a title="归档" href="/archive">archive</a></span>
    <span><a title="标签" href="/tags">tags</a></span>
    <span><a title="友情链接" href="/links">links</a></span>
    <span><a title="关于" href="/about">about</a></span>
    <hr />
    <% if (user) { %>
        <span><a title="发表" href="/post">post</a></span>
        <span><a title="登出" href="/logout">logout</a></span>
    <% } else { %>
        <span><a title="登录" href="/login">login</a></span>
    <% } %>
    <span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
</nav>

<article>
    <% if (success) { %>
        <div><%= success %></div>
    <% } %>
    <% if (error) { %>
        <div><%= error %></div>
    <% } %>
