<%- include header %>

<form method="post">
    <label for="loginUserName">用户名:</label>
    <input type="text" name="loginUserName">
    <br />
    <label for="loginPwd">密码:</label>
    <input type="password" name="loginPwd">
    <br />
    <input type="submit" value="登录">
</form>

<%- include footer %>